@CHARSET "UTF-8";
body{
	background-color: pink;
	padding: 0px;
	margin: opx;
	
}
#my{
	list-style: none;
	position: absolute;
	right: 50px;
	top:10px;
	text-decoration: none;
}
.acc{
	float: right;
	font-family: 华文细黑;
	padding: 0px 10px 0px 10px;
	list-style: none;
	text-decoration: none;
	
}
.or{
	float: right;
	font-family: 华文细黑;
	padding: 0px 10px 0px 10px;
	list-style: none;
	text-decoration: none;
}
.sh{
	float: right;
	font-family: 华文细黑;
	padding: 0px 10px 0px 10px;
	list-style: none;
	text-decoration: none;
}