<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.dao.CustomerDao">
	<resultMap type="com.zzq.domain.Customer" id="customerResultMap">
		<id column="id" property="id"/>
		<result column="userName" property="userName" />
		<result column="passWord" property="passWord"/>
		<result column="address" property="address"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="buyTime" property="buyTime"/>
	</resultMap>
	
	<select id="findCustomerByUserName" parameterType="String" resultType="com.zzq.domain.Customer">
		select * from customer where userName=#{userName}
	</select>
	
	<insert id="addCustomer" parameterType="com.zzq.domain.Customer" >
		insert into customer(userName,password,address,email,phone)
		values(#{userName},#{passWord},#{address},#{email},#{phone})
	</insert>
	
	
	
</mapper>